name: tests-locale
on:
  push:
    branches: ['main']
    paths-ignore:
      - "docs/*"
      - "**.md"
  pull_request:
    paths-ignore:
      - "docs/*"
      - "**.md"
permissions: read-all
jobs:
  test:
    strategy:
      matrix:
        go-version: ['1.25']
    runs-on: ubuntu-latest
    steps:
    - name: Set locale
      run: |
        sudo apt-get update && sudo apt-get install tzdata locales -y
        sudo sed -i '/fr_FR.UTF-8/s/^# //g' /etc/locale.gen && sudo locale-gen
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
    - name: Install Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5
      with:
        go-version: ${{ matrix.go-version }}
        cache: true
    - name: Test
      run: go test -timeout 20m ./...
      env:
        LANG: "fr_FR.UTF-8"
        LANGUAGE: "fr_FR:fr"
        LC_ALL: "fr_FR.UTF-8"
