name: tests
on:
  push:
    branches: ['main']
    paths-ignore:
      - "docs/*"
  pull_request:
    paths-ignore:
      - "docs/*"
jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout code
      uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332
    - name: Install Go
      uses: actions/setup-go@0a12ed9d6a96ab950c8f026ed9f722fe0da7ef32
      with:
        go-version: '1.22'
        cache: true
    - name: Test
      run: go test -timeout 20m ./...
    - name: Test Coverage
      if: matrix.os == 'ubuntu-latest'
      run: go test -covermode=atomic `go list ./... | grep -v -f .test_ignore.txt`
