name: coverage
on:
  push:
    branches: ['main']
    paths-ignore:
      - "docs/**"
      - "**.md"
  pull_request:
    paths-ignore:
      - "docs/**"
      - "**.md"
permissions: read-all
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      with:
        persist-credentials: false
    - name: Install Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5
      with:
        go-version: 1.25
        cache: true
    - name: Check Coverage
      run: |
        go test -covermode=atomic -coverprofile='unfiltered_coverage.cov' `go list ./... | grep -v -f .test_ignore.txt`
        grep -v -f .test_ignore.txt unfiltered_coverage.cov > coverage.cov
    - name: Coveralls Parallel
      uses: coverallsapp/github-action@5cbfd81b66ca5d10c19b062c04de0199c215fb6e
      with:
        file: 'coverage.cov'
