name: docs
on:
  push:
    branches: ['main']
  pull_request:
permissions: read-all
jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871
      - uses: actions/setup-go@0a12ed9d6a96ab950c8f026ed9f722fe0da7ef32
        with:
          go-version: '1.23'
          cache: true
      - run: ./.github/workflows/check-docs.sh
