name: get-started-tests
on:
  push:
    branches: ['main']
    paths-ignore:
      - "docs/**"
      - "!docs/testing/**"
      - "!docs/get-started.md"
      - "*.md"
  pull_request:
    paths-ignore:
      - "docs/**"
      - "!docs/testing/**"
      - "!docs/get-started.md"
      - "*.md"
permissions: read-all
jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        go-version: ['1.24', '1.25']
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout code
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
    - name: Install Go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c
      with:
        go-version: ${{ matrix.go-version }}
        cache: true
    - name: Install Python
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c
      with:
        python-version: '3.13'
    - name: Build gittuf
      run: make just-install
    - name: Test Getting Started
      run: python3 docs/testing/test-get-started-md.py
