name: get-started-tests
on:
  push:
    branches: ['main']
    paths-ignore:
      - "docs/**"
      - "!docs/testing/**"
      - "!docs/get-started.md"
      - "*.md"
  pull_request:
    paths-ignore:
      - "docs/**"
      - "!docs/testing/**"
      - "!docs/get-started.md"
      - "*.md"
permissions: read-all
jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        go-version: ['1.25']
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
    - name: Install Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5
      with:
        go-version: ${{ matrix.go-version }}
        cache: true
    - name: Install Python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548
      with:
        python-version: '3.13'
    - name: Build gittuf
      run: make just-install
    - name: Test Getting Started
      run: python3 docs/testing/test-get-started-md.py
