name: get-started-tests
on:
  push:
    branches: ['main']
    paths-ignore:
      - "docs/**"
      - "!docs/testing/**"
      - "!docs/get-started.md"
      - "*.md"
  pull_request:
    paths-ignore:
      - "docs/**"
      - "!docs/testing/**"
      - "!docs/get-started.md"
      - "*.md"
permissions: read-all
jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        go-version: ['1.25']
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      with:
        persist-credentials: false
    - name: Install Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5
      with:
        go-version: ${{ matrix.go-version }}
        cache: true
    - name: Install Python
      uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405
      with:
        python-version: '3.13'
    - name: Build gittuf
      run: make just-install
    - name: Test Getting Started
      run: python3 docs/testing/test-get-started-md.py
