name: Run demo
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
permissions: read-all
jobs:
  demo:
    name: Run demo 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd
      - name: Install Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00
      - name: Build gittuf
        run:  make just-install
      - name: Checkout demo repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd
        with:
          repository: gittuf/demo
      - name: Install Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c
        with:
          python-version: '3.13'
      - name: Run demo script
        run: python run-demo.py --no-prompt
