name: git 2.34.1 on ubuntu-22.04
on:
  push:
    branches: ["main"]
    paths-ignore:
      - "docs/**"
      - "**.md"
  pull_request:
    paths-ignore:
      - "docs/**"
      - "**.md"
permissions: read-all
jobs:
  test:
    strategy:
      matrix:
        go-version: ['1.22', '1.23']
    runs-on: ubuntu-22.04
    steps:
      - name: Downgrade Git
        run: sudo apt-get update && sudo apt-get install -y --allow-downgrades git=1:2.34.1-1ubuntu1.11 git-man=1:2.34.1-1ubuntu1.11
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - name: Install Go
        uses: actions/setup-go@41dfa10bad2bb2ae585af6ee5bb4d7d973ad74ed
        with:
          go-version: ${{ matrix.go-version }}
          cache: true
      - name: Test
        run: go test ./...
